<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
{% extends "home.html" %}

{% block content %}
<h1>Car {{ car[0] }}</h1>
<img src="{{ url_for('static', filename='car_' + car[2] + '.jpg') }}" alt="Car 1" style="width: auto; height: auto;max-width: 600px;max-height: 600px; background-position: center center; background-repeat: no-repeat;">
{% for c in car %}
    <p>{{ c }}</p>
{% endfor %}
{% if 'user_login' in session %}
    <a href="{{ url_for('create_request', client_no=session.get('user')[0], car_no=car[0]) }}">Buy</a>
{% else %}
    <p>If you want to buy this car you need to login</p>
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}
{% endblock content %}
</body>
</html>