<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee workspace</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>
<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    {% if 'employee_login' in session %}
        <li style="float:right"><a href="{{ url_for('employee_logout') }}">Logout {{ session.get('employee')[8] }}</a></li>
        <li><a href="{{ url_for('create_contract') }}">Create contract</a></li>
        {% if emp_requests != None %}
            <li><a href="{{ url_for('appointments', employee_username=session.get('employee')[8]) }}">My appointments</a></li>
            <li><a href="{{ url_for('make_an_appointment') }}">Make an appointment</a></li>
        {% endif %}
    {% endif %}
    <li><a href="{{ url_for('employee_login') }}">Employee workspace</a></li>
</ul>

{% block content %}
<h1>Employee workspace</h1>
{% if 'employee_login' in session %}
    {% if emp_requests != None %}
        {% for request in emp_requests %}
            <h3>Request №{{ request[0] }}</h3>
            <p>Car: {{ request[2] }}</p>
            <p>Client №{{ request[3] }}</p>
            <form method="POST" action="">
                <input type="submit" name="submit_button" value="Close request {{ request[0] }}">
            </form>
        {% endfor %}
    {% else %}
        <p>You don't have a job, take a break</p>
        <meta http-equiv="refresh" content="10" >
    {% endif %}
{% else %}
    <p>Login to have access</p>
    <a href="{{ url_for('employee_login') }}">Login</a>
{% endif %}
{% endblock content %}
</body>
</html>